@charset "UTF-8";

/* Formatação do Body */	
body {
	font-family: Arial; sans-serif;
	background-color: rgba(29, 15, 54, 1);
	color: rgba(0, 0, 0, 1);
	padding: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.container{
	display: flex;
	flex-direction: column;
	background-color: black;
	align-items: center;
	width:100vw;
	height: 100vh;
	margin: 0;
}

.child1{
	width:100vw;
	height: 100vh;
	background-color: rgba(29, 15, 54, 1);
}

.child2{	
	width:100vw;
	height: 100vh;
	background-image: url(../fotossite/principal.png);
	background-repeat: no repeat;
	background-size: cover;
	background-color: white;
	justify-content: center;
	align-items: center;
}

/* Formatação do Menu */
nav#menu {
	display: block;
}

/* Formatação do H1 do Menu */	
nav#menu h1{
	display: none;
}

/* Formatação da Posição na página da Lista do Menu */
nav#menu ul{
	list-style: none;
	position: flex;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	font-size: 20px;	
	font-weight: bold;
}

/* Formatação da cor e forma da Lista do Menu */
nav#menu li{
	display: inline-block;/* Lista em forma de fila*/
	background-color: white;
	padding: 25px;
	margin: 2px;
	transition: background-color 1s;
	background-color: transparent;
	text-transform: uppercase;
}

/* Formatação da troca da cor da Lista do Menu Sem Link*/
nav#menu li:hover{
	color: rgba(51, 195, 229, 1);
}

/* Formatação da troca da cor da Lista do Menu */
nav#menu a{
	color: white;
	text-decoration: none;
}

/* Formatação Transição de Cor do Menu com Link */
nav#menu a:hover{
	color: rgba(51, 195, 229, 1);
}


/* Formatação Logo do Site*/
div#logomenor img{
	position: absolute;
	margin: auto;
	top: 5px;
	padding: 10px;
	width: 200px;
	height: 50px;
}


/* Formatação Img Div Imagem André */
.child2 img{
	align-items: center;
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: auto;
	height: 40vh;
	width: 40vh;
	top: 5%;
	
}	

/* Formatação h1 Div Child2 */
.child2 h1{
	font-family: HP Simplified; sans-serif;
	font-size: 80px;
	text-align: center;
	color: rgba(51, 195, 229, 1);
	text-transform: uppercase;
	position: relative;
	background-color: transparent;
	margin: 0;
	margin-bottom: 0;
	padding: 5px;
	width: 100vw;
	top: 5%;
	
}

/* Formatação h2 Div Child2*/
.child2 h2{
	font-family: Calibri Light; sans-serif;
	font-size: 60px;
	text-align: center;
	color: white;
	position: relative;
	padding: 5px;
	margin: 5px;
	background-color: transparent;
	margin-bottom: 0;
	top: 4%;
	width: 100vw;
}

/* Formatação h3 Div Principal*/
.child2 h3{
	font-family: HP Simplified; sans-serif;
	font-size: 70px;
	text-align: center;
	color: rgba(51, 195, 229, 1);
	background-color: transparent;
	position: relative;
	margin: 5px;
	margin-bottom: 0;
	padding: 5px;
	top: 3%;
	width: 100vw;
}

/* Formatação do a da Div Principal*/
.child2 a{
	display: block;
	position: relative;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	font-family: Calibri; sans-serif;
	font-size: 38px;
	border: solid 3px;
	background-color: transparent;
	width: 250px;
	height: 60px;
	padding: 5px;
	top: 4%;
	padding-top: 12px;
	color: rgba(51, 195, 229, 1);
	text-decoration: none;
}

/* Formatação Transição de Cor do a da Div Principal com link*/ 
.child2 a:hover{
	color: rgba(21, 10, 48, 1) ;
	background-color: rgba(51, 195, 229, 1);
	border: solid 3px;
	border-color: rgba(51, 195, 229, 1);
	
}	
